ejmplos/03-alertas-criticas-manual.json
{
  "name": "03 - Alertas Críticas (Manual)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertas",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "alertas"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "GROQ_API_KEY",
              "value": "YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "TELEGRAM_CHAT_ID",
              "value": "8580113495"
            },
            {
              "name": "EVOLUTION_API_URL",
              "value": "http://evolution-api:8080"
            },
            {
              "name": "EVOLUTION_API_KEY",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            },
            {
              "name": "WHATSAPP_NUMBER",
              "value": "593995153226"
            },
            {
              "name": "WHATSAPP_INSTANCE_NAME",
              "value": "WsBot"
            }
          ]
        }
      },
      "id": "set-config-node",
      "name": "Set - Configuración",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el evento del webhook\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event || body.eventType;\n\n// Eventos criticos que deben procesarse\nconst eventosCriticos = ['reserva.cancelada', 'plato.eliminado'];\nconst esCritico = eventosCriticos.includes(event);\n\n// Si es critico, continuar con el flujo\nif (esCritico) {\n  return [{ json: $input.item.json }];\n} else {\n  // Si no es critico, no continuar\n  return [];\n}"
      },
      "id": "if-critico-node",
      "name": "Code - Es Critico?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst event = body.event || body.eventType || 'evento desconocido';\nconst eventData = body.data || {};\n\nconst groqBody = {\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Eres un asistente que analiza eventos criticos de un sistema de restaurante. Determina el nivel de urgencia: 'alta', 'media' o 'baja'. Responde solo con una palabra: alta, media o baja.\"\n    },\n    {\n      role: \"user\",\n      content: `Analiza este evento critico y determina su urgencia: ${event}. Datos: ${JSON.stringify(eventData)}`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 10\n};\n\nreturn {\n  json: {\n    ...$input.item.json,\n    groqBody: groqBody,\n    originalBody: body,\n    originalEvent: event\n  }\n};"
      },
      "id": "code-groq-node",
      "name": "Code - Preparar JSON Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set - Configuración').item.json.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groqBody }}",
        "options": {}
      },
      "id": "groq-node",
      "name": "HTTP Request - Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "urgencia",
              "value": "={{ $json.choices[0].message.content.trim().toLowerCase() }}"
            },
            {
              "name": "mensaje",
              "value": "={{ '⚠️ ALERTA CRITICA: ' + ($json.originalEvent || 'evento desconocido') }}"
            }
          ]
        }
      },
      "id": "set-node",
      "name": "Set - Urgencia",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.urgencia }}",
                    "value2": "alta",
                    "operation": "equals"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "alta"
            }
          ]
        },
        "options": {
          "fallbackOutput": "baja"
        }
      },
      "id": "if-alta-node",
      "name": "Switch - Es Alta?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "chatId": "={{ Number($('Set - Configuración').item.json.TELEGRAM_CHAT_ID) }}",
        "text": "={{ $json.mensaje }}"
      },
      "id": "telegram-node",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1650, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set - Configuración').item.json;\nconst mensaje = $input.item.json.mensaje || '';\nconst whatsappNumber = config.WHATSAPP_NUMBER || '';\nconst instanceName = config.WHATSAPP_INSTANCE_NAME || 'mi-whatsapp';\n\nconst evolutionBody = {\n  number: whatsappNumber,\n  text: mensaje\n};\n\nreturn {\n  json: {\n    ...$input.item.json,\n    evolutionBody: evolutionBody,\n    evolutionUrl: `${config.EVOLUTION_API_URL}/message/sendText/${instanceName}`,\n    evolutionApiKey: config.EVOLUTION_API_KEY\n  }\n};"
      },
      "id": "code-evolution-node",
      "name": "Code - Preparar JSON Evolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolutionUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolutionApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.evolutionBody }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "whatsapp-node",
      "name": "HTTP Request - WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('Urgencia Media/Baja:', $input.item.json.mensaje);\nreturn $input.item.json;"
      },
      "id": "log-node",
      "name": "Code - Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Alerta procesada\"\n}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set - Configuración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Configuración": {
      "main": [
        [
          {
            "node": "Code - Es Critico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Es Critico?": {
      "main": [
        [
          {
            "node": "Code - Preparar JSON Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Preparar JSON Groq": {
      "main": [
        [
          {
            "node": "HTTP Request - Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Groq": {
      "main": [
        [
          {
            "node": "Set - Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Urgencia": {
      "main": [
        [
          {
            "node": "Switch - Es Alta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Es Alta?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Preparar JSON Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Preparar JSON Evolution": {
      "main": [
        [
          {
            "node": "HTTP Request - WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T00:00:00.000Z",
  "versionId": "1"
}
