ejmplos/Workflow 3_ Alertas Inteligentes.json
{
  "name": "Workflow 3: Alertas Inteligentes",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event",
              "name": "event",
              "type": "string",
              "value": "={{ $json.body?.event || $json.event || '' }}"
            },
            {
              "id": "id",
              "name": "id",
              "type": "string",
              "value": "={{ $json.body?.id || $json.id || '' }}"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "={{ $json.body?.data?.status || $json.data?.status || '' }}"
            },
            {
              "id": "data",
              "name": "data",
              "type": "object",
              "value": "={{ $json.body?.data || $json.data || {} }}"
            },
            {
              "id": "urgencia",
              "name": "urgencia",
              "type": "string",
              "value": "={{ (() => { const data = $json.body?.data || $json.data || {}; const evt = ($json.body?.event || $json.event || '').toLowerCase(); const status = (data.status || '').toLowerCase(); const animalesDisponibles = data.animales_disponibles ?? data.stock ?? 999; const diasPendiente = data.dias_pendiente ?? data.dias_vencido ?? 0; const periodoPrueba = data.dias_restantes_prueba ?? 999; const pocosAnimales = data.pocos_animales ?? false; if (animalesDisponibles === 0 || diasPendiente > 7 || evt.includes('cancel') || evt.includes('error') || status === 'cancelled' || status === 'error') return 'ALTA'; if (animalesDisponibles < 5 || periodoPrueba < 3 || pocosAnimales || status === 'pending' || evt.includes('pending')) return 'MEDIA'; return 'BAJA'; })() }}"
            },
            {
              "id": "razon",
              "name": "razon",
              "type": "string",
              "value": "={{ (() => { const data = $json.body?.data || $json.data || {}; const evt = ($json.body?.event || $json.event || '').toLowerCase(); const status = (data.status || '').toLowerCase(); const animalesDisponibles = data.animales_disponibles ?? data.stock ?? 999; const diasPendiente = data.dias_pendiente ?? data.dias_vencido ?? 0; const periodoPrueba = data.dias_restantes_prueba ?? 999; if (animalesDisponibles === 0) return 'Sin animales disponibles para adopci贸n'; if (diasPendiente > 7) return 'Adopci贸n pendiente m谩s de 7 d铆as'; if (evt.includes('cancel') || status === 'cancelled') return 'Adopci贸n cancelada'; if (evt.includes('error') || status === 'error') return 'Error en proceso de adopci贸n'; if (animalesDisponibles < 5) return 'Pocos animales disponibles (' + animalesDisponibles + ')'; if (periodoPrueba < 3) return 'Per铆odo de prueba pr贸ximo a vencer (' + periodoPrueba + ' d铆as)'; if (status === 'pending' || evt.includes('pending')) return 'Adopci贸n pendiente de aprobaci贸n'; return 'Evento normal procesado'; })() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a144e829-2d5d-4758-8643-e75dce99cba8",
      "name": "Clasificar Urgencia",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ parts: [{ text: 'Genera un mensaje de alerta corto (m谩ximo 100 caracteres) en espa帽ol para notificar sobre este evento: ' + $json.event + ' con urgencia ' + $json.urgencia + '. Solo responde con el mensaje, sin explicaciones.' }] }] } }}",
        "options": {}
      },
      "id": "436b3b48-9f8a-4ed3-9a4a-a37b1a32f57b",
      "name": "Gemini - Generar Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1424
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "UxKBVhrxC8cKwlFx",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "mensaje_gemini",
              "type": "string",
              "value": "={{ $json.candidates ? $json.candidates[0].content.parts[0].text : 'Alerta del sistema' }}"
            },
            {
              "id": "urgencia2",
              "name": "urgencia",
              "type": "string",
              "value": "={{ $('Clasificar Urgencia').item.json.urgencia }}"
            },
            {
              "id": "razon2",
              "name": "razon",
              "type": "string",
              "value": "={{ $('Clasificar Urgencia').item.json.razon }}"
            },
            {
              "id": "event2",
              "name": "original_event",
              "type": "string",
              "value": "={{ $('Clasificar Urgencia').item.json.event }}"
            },
            {
              "id": "id2",
              "name": "original_id",
              "type": "string",
              "value": "={{ $('Clasificar Urgencia').item.json.id }}"
            },
            {
              "id": "data2",
              "name": "original_data",
              "type": "object",
              "value": "={{ $('Clasificar Urgencia').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0777ed25-3131-4d5d-9937-4f378ade582b",
      "name": "Combinar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        1424
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-alerts-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "43173d8e-504e-4367-8104-b5d8bc0c8c80",
      "name": "Webhook Trigger2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        1424
      ],
      "webhookId": "smart-alerts-workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "ALTA",
                    "id": "edf94beb-73c4-4033-a7c2-f23427d35f6c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "MEDIA",
                    "id": "36bf4cf6-76fb-4164-aae9-bfab1d707780"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.urgencia }}",
                    "rightValue": "BAJA",
                    "id": "a95bb047-68e3-48c9-a1e9-6c22a7abd3f2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "baja"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5fb05046-2cee-4747-b610-d701c01e9d59",
      "name": "Switch por Urgencia2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        1424
      ]
    },
    {
      "parameters": {
        "chatId": "=8446445832",
        "text": "= *ALERTA ADOPCIONES - URGENCIA ALTA*\n\n{{ $json.mensaje_gemini }}\n\n *Evento:* {{ $json.original_event }}\n *ID:* {{ $json.original_id }}\n *Raz贸n:* {{ $json.razon }}\n\n锔 *Requiere atenci贸n inmediata del equipo*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d0307d68-a3cf-4b8b-83b9-ca8f149ac3c3",
      "name": "Telegram - Alta2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        1264
      ],
      "webhookId": "e08dc34e-b968-4c6c-b645-9e86b4ec2952",
      "credentials": {
        "telegramApi": {
          "id": "2jBR6X6akzYdiwQt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=justinalejandro996@gmail.com",
        "subject": "= Alerta Adopciones - {{ $json.original_event }}",
        "message": "=<h2>锔 Alerta de Adopciones - Urgencia Media</h2><br><p>{{ $json.mensaje_gemini }}</p><br><br><strong> Evento:</strong> {{ $json.original_event }}<br><strong> ID:</strong> {{ $json.original_id }}<br><strong> Raz贸n:</strong> {{ $json.razon }}<br><br><p><em>Este mensaje fue generado autom谩ticamente por el sistema de alertas inteligentes.</em></p>",
        "options": {}
      },
      "id": "7ebb8f41-9698-4feb-993b-4746b4a49051",
      "name": "Gmail - Media2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        1424
      ],
      "webhookId": "0b714655-9ad0-48c6-8ca4-b31dd9917484",
      "credentials": {
        "gmailOAuth2": {
          "id": "WVhm3Zq67h5hzYoM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-status",
              "name": "status",
              "type": "string",
              "value": "logged"
            },
            {
              "id": "log-urgencia",
              "name": "urgencia",
              "type": "string",
              "value": "={{ $json.urgencia }}"
            },
            {
              "id": "log-event",
              "name": "event",
              "type": "string",
              "value": "={{ $json.original_event }}"
            },
            {
              "id": "log-ts",
              "name": "timestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "582c6d53-8336-4bf7-b9c4-3a2bd9b11f65",
      "name": "Log - Baja2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1568
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Alerta procesada', urgency: $json.urgencia || 'UNKNOWN', action_taken: 'notification_sent', workflow: 'smart-alerts' } }}",
        "options": {}
      },
      "id": "35ef0594-cd3b-453e-8c52-04015d361847",
      "name": "Responder Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        1424
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Clasificar Urgencia": {
      "main": [
        [
          {
            "node": "Gemini - Generar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generar Mensaje": {
      "main": [
        [
          {
            "node": "Combinar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Datos": {
      "main": [
        [
          {
            "node": "Switch por Urgencia2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger2": {
      "main": [
        [
          {
            "node": "Clasificar Urgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Urgencia2": {
      "main": [
        [
          {
            "node": "Telegram - Alta2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Media2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Baja2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Alta2": {
      "main": [
        [
          {
            "node": "Responder Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Media2": {
      "main": [
        [
          {
            "node": "Responder Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Baja2": {
      "main": [
        [
          {
            "node": "Responder Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "204d3b4f-7b20-4c05-a501-7f1ac2f891cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edb45292347f574eb27699b4876b32a3fc002e0b33cc384f1ab3fcfc1419955d"
  },
  "id": "UR4TyMff89OcvGH3r8nAj",
  "tags": []
}