ejmplos/Workflow 2_ Sincronización Google Sheets.json
{
  "name": "Workflow 2: Sincronizaci贸n Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sheets-sync-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1ff6db8c-945b-4683-9924-007d6202ab84",
      "name": "Webhook Trigger2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        976,
        -112
      ],
      "webhookId": "sheets-sync-workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fecha",
              "name": "FECHA/HORA",
              "type": "string",
              "value": "={{ new Date($json.timestamp || Date.now()).toLocaleString('es-EC', { timeZone: 'America/Guayaquil' }) }}"
            },
            {
              "id": "tipo",
              "name": "Tipo Evento",
              "type": "string",
              "value": "={{ $json.body.event }}"
            },
            {
              "id": "id-reg",
              "name": "ID registro",
              "type": "string",
              "value": "={{ $json.body.id }}"
            },
            {
              "id": "desc",
              "name": "Descripci贸n",
              "type": "string",
              "value": "={{ $json.body.event }}"
            },
            {
              "id": "user",
              "name": "Usuario",
              "type": "string",
              "value": "={{ $json.body.data.adopter_name }}"
            },
            {
              "id": "estado",
              "name": "Estado",
              "type": "string",
              "value": "={{ $json.data?.status || 'completed' }}"
            },
            {
              "id": "animal",
              "name": "Animal ID",
              "type": "string",
              "value": "={{ $json.body.data.animal_id }}"
            },
            {
              "id": "corr",
              "name": "Correlation ID",
              "type": "string",
              "value": "={{ $json.body.metadata.correlation_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5cd14bed-58f0-4029-9139-16c209acb702",
      "name": "Estructurar Datos1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Registro agregado a Google Sheets\",\n  \"event_id\": \"{{ $('Webhook Trigger2').item.json.body.id }}\",\n  \"workflow\": \"sheets-sync\"\n}",
        "options": {}
      },
      "id": "455d9c7a-1550-44e3-880b-2d8da0b7f82d",
      "name": "Responder Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1584,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1caUyPLeaKUZByhCLXyriiBQQKcKQLWn2YAo6zdcIf3Q/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1caUyPLeaKUZByhCLXyriiBQQKcKQLWn2YAo6zdcIf3Q/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "FECHA/HORA"
          ],
          "schema": [
            {
              "id": "FECHA/HORA",
              "displayName": "FECHA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo Evento",
              "displayName": "Tipo Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID registro",
              "displayName": "ID registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripci贸n",
              "displayName": "Descripci贸n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Usuario",
              "displayName": "Usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado ",
              "displayName": "Estado ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Animal ID",
              "displayName": "Animal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correlation ID",
              "displayName": "Correlation ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26391789-3627-4c5f-a502-aa9def8fe8c4",
      "name": "Google Sheets - Agregar2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1392,
        -128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PcA44Rhb80ml6usG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger2": {
      "main": [
        [
          {
            "node": "Estructurar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Datos1": {
      "main": [
        [
          {
            "node": "Google Sheets - Agregar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Agregar2": {
      "main": [
        [
          {
            "node": "Responder Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f30b3f94-e135-49b3-aa52-816cd3433bae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edb45292347f574eb27699b4876b32a3fc002e0b33cc384f1ab3fcfc1419955d"
  },
  "id": "CkuVeCoU3sLJguPN6h-Zw",
  "tags": []
}