ejmplos/Workflow 1_ Notificación Adopción - Tiempo Real.json
{
  "name": "Workflow 1: Notificación Adopción - Tiempo Real",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adoption-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "35f497dd-7d2d-4eca-9e1c-6c48640cde78",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        832,
        640
      ],
      "webhookId": "adoption-workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-gemini",
              "name": "mensaje_gemini",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "id": "adopter",
              "name": "adopter_name",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.data.adopter_name }}"
            },
            {
              "id": "adoption-id",
              "name": "adoption_id",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.data.adoption_id }}"
            },
            {
              "id": "animal-id",
              "name": "animal_id",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.data.animal_id }}"
            },
            {
              "id": "ts",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $('Webhook Trigger').item.json.body.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e0309be-a9f6-4f96-a07b-c51ab81cd763",
      "name": "Combinar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Genera un mensaje de notificación corto y amigable (máximo 150 caracteres) para informar que {{ $json.body.data.adopter_name }} ha completado la adopción de un animal. El mensaje debe ser en español, celebratorio y motivador. Solo responde con el mensaje, sin explicaciones.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "34115415-907b-4de6-b3e1-de8a958cfa5d",
      "name": "Gemini - Generar Mensaje1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        640
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "UxKBVhrxC8cKwlFx",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8446445832",
        "text": "=🎉 *Nueva Adopción Completada*\n\n{{ $json.mensaje_gemini }}\n\n📋 *Detalles:*\n• Adoptante: {{ $json.adopter_name }}\n• ID Adopción: `{{ $json.adoption_id }}`\n• Animal ID: `{{ $json.animal_id }}`\n• Fecha: {{ $json.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a127705e-973a-4928-ae73-14115dc1192c",
      "name": "Telegram - Notificar1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        640
      ],
      "webhookId": "5668c23e-bce2-4d0c-b47f-fe6c3b0eb137",
      "credentials": {
        "telegramApi": {
          "id": "2jBR6X6akzYdiwQt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Notificación enviada exitosamente\",\n  \"event_id\": \"{{ $('Webhook Trigger').first().json.id }}\",\n  \"workflow\": \"notificacion-tiempo-real\"\n}",
        "options": {}
      },
      "id": "ba1ecfdb-8cd9-4e65-b4fb-bf248ee88ed5",
      "name": "Responder Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1632,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Gemini - Generar Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Datos": {
      "main": [
        [
          {
            "node": "Telegram - Notificar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generar Mensaje1": {
      "main": [
        [
          {
            "node": "Combinar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Notificar1": {
      "main": [
        [
          {
            "node": "Responder Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "66d4c7de-760a-4443-a322-c4f13c3da6f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edb45292347f574eb27699b4876b32a3fc002e0b33cc384f1ab3fcfc1419955d"
  },
  "id": "9_SPCYrSbavXsQc_ZwWnv",
  "tags": []
}